body {
    font-family: "Roboto";
}

.top {
    background-color: #1f2937;
    margin:0;
    padding: 10px 100px 100px 100px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}


.top-content{
    display: flex;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}

a, .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px
}

.img{
    background-color:gray;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext {
    margin: 0;
    padding: 0 
}

